Repository ajihyf/pixi-dom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, eslint --fix

.lintstagedrc.json:

{
  "linters": {
    "*.{ts,json,md}": ["prettier --write", "git add"],
    "*.ts": ["tslint --fix", "git add"],
    "*.js": ["eslint --fix", "git add"]
  }
}

test(e2e): e2e test using storybook & puppeteer
  .eslintrc.json
  .npmrc
  .storybook/config.ts
  .storybook/webpack.config.js
  e2e/__image_snapshots__/pixi-dom-e-2-e-ts-button-visually-looks-correct-1-snap.png
  e2e/jest.config.js
  e2e/pixi-dom.e2e.ts
  e2e/setupTests.ts
  jest.config.js
  package.json
  rollup.config.ts
  src/pixi-dom.ts
  stories/index.stories.ts
  test/pixi-dom.test.ts
  tsconfig.json
  tsconfig.rollup.json
  types/storybook__html.d.ts
Due: prettier --write, tslint --fix, eslint --fix

test(e2e): use @storybook/addon-storyshots-puppeteer to run e2e test
  e2e/__image_snapshots__/pixi-dom-e-2-e-ts-button-visually-looks-correct-1-snap.png
  e2e/__image_snapshots__/pixi-dom-e-2-e-ts-image-storyshots-demo-button-1-snap.png
  e2e/__image_snapshots__/pixi-dom-e-2-e-ts-image-storyshots-demo-heading-1-snap.png
  e2e/jest.config.js
  e2e/pixi-dom.e2e.ts
  e2e/register-context.ts
  package.json
  tsconfig.json
  types/babel-plugin-require-context-hook.d.ts
  types/storybook__addon-storyshots-puppeteer.ts
Due: prettier --write, tslint --fix, eslint --fix

test(storyshots): increase imageSnapshot failureThreshold
  e2e/pixi-dom.e2e.ts
  package.json
  types/storybook__addon-storyshots-puppeteer.ts
Due: prettier --write, tslint --fix

ci: remove Node 6.0 ci config & push commit hook
  .huskyrc.json
  .travis.yml
Due: prettier --write

chore(package): ignore Jest version in greenkeeper
  package.json
Due: prettier --write

chore: update dependencies
  .storybook/config.ts
  .storybook/webpack.config.js
  .travis.yml
  package.json
  src/pixi-dom.ts
  types/storybook__addon-storyshots-puppeteer.ts
Due: prettier --write, tslint --fix, eslint --fix

docs(docs): update gh-pages
  .nojekyll
  assets/css/main.css
  assets/css/main.css.map
  assets/images/icons.png
  assets/images/icons@2x.png
  assets/images/widgets.png
  assets/images/widgets@2x.png
  assets/js/main.js
  assets/js/search.js
  classes/dummyclass.html
  globals.html
  index.html
Due: eslint --fix
